:root {
  --body-background: hsl(275, 100%, 97%);
  --body-color: hsl(292, 16%, 49%);
  --container-background: hsl(0, 0%, 100%);
  --question-color: hsl(292, 42%, 14%);
  --question-hover: darkviolet;
  --answer-color: hsl(292, 16%, 49%);
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', serif;
  background:var(--body-background);
  color:var(--body-color);

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.backgroundImage {
  width: 100vw;
  overflow: hidden; /* important to make 100vw work with scollbar */
}
@media (min-width: 431px){
  .backgroundImage {
    content: url('assets/images/background-pattern-desktop.svg'); 
  }
}


.mainContainer{
  position: relative;
  width: 80vw;
  max-width: 40rem;
  min-width: 10rem;
  padding: 2vh 2vw;
  box-sizing: border-box;
  margin: -15vh 10vw;
  margin-bottom: 12vh;
  border-radius: 2vh;

  display: grid;
  background:var(--container-background);
  text-align: left;
  font-weight: 700;
}
@media (min-width: 431px){
  .mainContainer{
    width: 46vw;
    margin-left: 22vw;
    margin-right: 22vw;
  }
}


.captions {
  font-size: 2.5rem;
  display:flex;
  align-items: center;
}
.captions p {
  margin: 2vh 2vw;
}
.FAQstar {
  width:6%;
  margin: 2vh 1vw;
}


.Question {
  margin: 2vh 0.6vw;
  display: grid;
  align-items: center;
  grid-template-columns: 5fr 1fr;
  /* box-sizing: border-box; */
  color:var(--question-color);
}
.Question:hover{
  cursor: pointer;
  color:var(--question-hover);
}
.Question p {
  margin-right: 2vh;
}
.Answers {
  font-weight: 300;
  margin: 2vh 0.6vh;
  color: var(--answer-color);
  display: none;
  /* box-sizing: border-box; */
}


hr{
  width: 100%;
  height: 0.2px;
}
